/* Mobile */
@media (max-width: 740px) {

    #nav {
        display: block;
    }

    #nav > li { /* inline: Trên 1 hàng, Block: Giữ lại tính chất khối */
        display: block;  
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
     display: none;
    }

}
